.copydiss-carousel {
    width: 40rem;
    max-width: 100%;
    margin: 2em auto 2em auto;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  }
  
  .copydiss-carousel-inner {
      position: relative;
      overflow: hidden;
      width: 100%;
  }

  .copydiss-carousel-open {
      display: none !important;
  }
  
  .copydiss-carousel-open:checked + .copydiss-carousel-item {
      position: static;
      opacity: 100;
  }
  
  .copydiss-carousel-item {
      position: absolute;
      opacity: 0;
      -webkit-transition: opacity 1s ease-out;
      transition: opacity 1s ease-out;
  }
  
  .copydiss-carousel-item img {
      display: block;
      height: auto;
      max-width: 100%;
  }