
#copydiss-carousel-container {
    width: 100%;   
}

#copydiss-carousel-container ul{
    display: flex;
    flex-wrap: wrap;
}

#copydiss-carousel-container ul li {
    margin: 1rem;
}
#copydiss-carousel-container ul li.image{
    position: relative;
    width: 192px;
}

#copydiss-carousel-container .attachment-thumbnail.size-thumbnail,
#copydiss-carousel-container img {
    height: 192px;
    width: 192px;
}

#copydiss-carousel-container .delete {
    text-decoration: none;
    position: absolute;
    right: 4px;
    top: -24px;
}

#copydiss-carousel-container .delete p{
    color: #ce3939;
    font-size: 1.1rem;
    font-family: monospace;
    text-shadow: 1px 1px black;
}

#copydiss-carousel-container .image input{
    width: 100%;
}